# קבצים רגישים
.env

# Node.js
node_modules/
npm-debug.log
package-lock.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pytest_cache/
*.sqlite3
*.log

# Docker
docker-compose.override.yml
*.log

# Visual Studio Code
.vscode/

# מערכת ההפעלה
.DS_Store
Thumbs.db

# Mongo dump (אם תשתמשי אי פעם ב־mongodump/mongorestore)
dump/
